body {
    padding-bottom: 70px;
    position: relative;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

a {
    color: black;
    text-decoration: underline;
}

div.site-banner {
    margin-top: 0px;
    margin-bottom: 70px !important;
    margin-left: auto;
    margin-right: auto;
    top: 0px;
    width: 60%;
    position:relative;
    height: 150px;
}

.site-banner img {
    height: 150px;
    position: absolute;
    bottom: 0;
    right: 15%;
    display: block;
}

.navbar-brand {
    position: absolute;
    bottom: 0px;
    left: 5%;
    font-family:  'Brush Script MT';
    font-size: 4em;
    text-decoration: none;
}

.navbar {
    background-color: #FFFFFF;
    border-bottom: inset;
    border-color: aliceblue;
}

.navbar-fixed-top {
    top: 150px;
}

.navbar-nav {
    display: inline-block;
    float: none;
}

.navbar-collapse {
    text-align: center;
}

.nav-bar-container {
    margin-left: 25%;
    margin-right: 25%;
}

body {
    font-family: Arnhem, Helvetica, sans-serif;
}

@media screen and (min-width: 768px) {
    .jumbotron {
        padding-top: 18px;
    }
}

div.jumbotron h1,h2 {
    font-family: 'Bodoni MT';
    text-align: center;
}

.body-content {
    border-left: double;
    border-right: double;
    border-color: aliceblue;
}

.jumbotron {
    background-color: inherit;
    text-align: justify;
    font-size: initial;
}

footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    margin-left: auto;
    margin-right:auto;
    height: 70px;
    background-color: white;
}

div.footer-container {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table {
    margin-right: auto;
    margin-left: auto;
}

.labeled-row-table td label{
    text-align: right;
    border: none;
}

.row-label {
    text-align: right;
    padding-right: 8px;
}

.img-right {
    float: right;
}

img.blog-img {
    height: 240px;
    margin: 8px;
    border: thin;
    border-color: black;
    border-width: 2px;
}

div.blog-img {
    display: block;
}

div.blog-section {
    display: block;
    margin-left: auto;
    margin-right: auto;
}