body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

div.site-banner {
    margin-top: 0px;
    margin-bottom: 70px !important;
    top: 0px;
    width: 100%;
}

.site-banner img {
    height: 276px;
    width: 100%;
}

.navbar {
    background-color: #071D76;
}

.navbar-fixed-top {
    top: 276px;
}

.navbar-nav {
    margin-left: auto !important;
    margin-right: auto !important;
}