@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<div class="jumbotron">
    <h3>A Little About the Author</h3>
    <div>
        <div class="blog-img">
            <img class="img-right blog-img" src="/images/Jamie Butler.jpg" />
        </div>
        <div class="blog-section">
            <p>Hi, my name is Jamie Butler, and as you can probably tell, I am a web developer. I've developed software on a number of platforms, but web is where my heart is at. Nothing more satisfying than knowing your work has reached millions of people, is there?</p>
            <p>My great professional asset is a charismatic knack for promoting good, and healthy communication. Be it between developers and stakeholders, within development teams, and with prospective clients.</p>
            <p>I'm also quite a hobbyist. I've dedicated at least a year to each of learning the Japanese language, studying piano, martial arts, regular rock climbing, house dance, singing, competitive video gaming and fire dancing.</p>
        </div>
    </div>
    <div class="blog-section">
        <h3>About the site</h3>
        <p>This website is my own little corner of the world wide web. I like to discuss any of the insights I develop in my professional, personal and social life.</p>
        <p>find myself with a lot of ideas, and a lot of opinions about the world around me, and about the roads my life takes me down. And I'm inclined to share these insights with you all.</p>
    </div>
    <div class="blog-section">
        <h3>Why the Heron?</h3>
        <p>The Heron is a recurring symbol in Lian Hearn's, The Tales of the Otori. It represents patience, as well as decisive action. When I first read Lian Hearn's amazing series (which you all should), the value in these virtues left its mark on me.</p>
        <p>I now strive to always be patient, in everything I do. But also, to be decisive when patience provides me with the right opportunites to act.</p>
    </div>
</div>