@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Still Heron</h1>
    <div class="quote">
        <p>The still heron waits patiently, standing as still as the roots of the great trees that line the bank of stream. The fish at first are wary, but as time passes, they forget their fear.</p>
        <p>It is then that the heron strikes.</p>
    </div>
    <div class="writing">
        <p>The heron is a recurring motif in Lian Hearn's Tales of the Otori series. As a symbol it represents the Otori clan in that series, but most particularly, it represents the wise and deft Otori Shigeru.</p>
        <p>Among others, the defining traits of Shigeru's successes are his patience, and the decisiveness with which he acts when opportunities present themselves. While reading Tales of the Otori, I developed a strong attachment to these characteristics, and now seek to apply them as ideals in my everyday life.</p>
    </div>
</div>